@use 'variables' as *;

@function color($group, $key: default, $opacity: null) {
  @if not map-has-key($colors, $group) {
    @error "El grupo de color `#{$group}` no existe.";
  }

  $group-map: map-get($colors, $group);

  @if not map-has-key($group-map, $key) {
    @error "La clave `#{$key}` no existe en el grupo `#{$group}`.";
  }

  $value: map-get($group-map, $key);

  @if $opacity != null {
    @if type-of($value) != 'color' {
      @error "No se puede aplicar opacidad a un valor que no es color.";
    }

    @return rgba($value, $opacity / 100);
  }

  @return $value;
}

@function shadow($key) {
  @if not map-has-key($shadows, $key) {
    @error "La shadow `#{$key}` no existe en el mapa $shadows.";
  }

  @return map-get($shadows, $key);
}

@function font($type, $property: size, $viewport: desktop) {
  @if not map-has-key($typography, $type) {
    @error "No existe la tipografia `#{$type}` en el mapa $typography.";
  }

  $type-map: map-get($typography, $type);

  @if map-has-key($type-map, $viewport) {
    $viewport-map: map-get($type-map, $viewport);

    @if map-has-key($viewport-map, $property) {
      @return map-get($viewport-map, $property);
    }
  }

  @if map-has-key($type-map, default) {
    $default-map: map-get($type-map, default);

    @if map-has-key($default-map, $property) {
      @return map-get($default-map, $property);
    }
  }

  @error "La propiedad `#{$property}` no existe para `#{$type}` (viewport: #{$viewport}).";
}

@function space($key) {
  $negative: false;

  @if type-of($key) == 'number' and $key < 0 {
    $negative: true;
    $key: abs($key);
  }

  @if not map-has-key($spacing, $key) {
    @error "El valor `#{$key}` no existe en el mapa $spacing.";
  }

  $value: map-get($spacing, $key);

  @if $negative {
    @return -$value;
  }
  @return $value;
}

@function radius($keys...) {
  $value: $radius;

  @each $key in $keys {
    @if type-of($value) == 'map' and map-has-key($value, $key) {
      $value: map-get($value, $key);
    } @else {
      @error "El border-radius `#{$key}` no existe.";
    }
  }

  @if type-of($value) == 'map' {
    @if map-has-key($value, default) {
      @return map-get($value, default);
    }

    @error "El border-radius solicitado es un mapa y no tiene `default`.";
  }

  @return $value;
}

@function breakpoint($key) {
  @if not map-has-key($breakpoints, $key) {
    @error "El breakpoint `#{$key}` no existe.";
  }

  @return map-get($breakpoints, $key);
}
